*{
    margin: 0;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 2rem;
    gap: 1.5rem;
}

.card img {
    width: 230px;
}

.cardS {
    color: #14213D;
}
.cardS:hover {
    text-decoration: none;
    color: #ff7d01;
}